<%= render 'shared/page_title', title: "All Trippics" %>

<ul class="nav nav-tabs"> <%# Navigation on Trips page %>
    <li class='active'>
        <%= link_to "Trips", trips_path %>
    </li>
    <li>
        <%= link_to "Travellers", travellers_path %>
    </li>
</ul>

<%= will_paginate %>

<% @trips.each do |trip| %> <%# Iterating through each trip %>
    <div class="row">
        
        <div class="col-md-2">
            <section class="traveller_info center">
                <%= link_to gravatar_for(trip.traveller, size: 100), traveller_path(trip.traveller) %>
                <h5>Traveller Name: <%= trip.traveller.travellername %></h5>
            </section>
        </div>
        
        <div class="col-lg-6 well">
            <h4><%= link_to trip.name, trip_path(trip) %></h4>
            <p><%= trip.summary %></p>
            <p> 
                <span class='quite'><small> created: <%= time_ago_in_words(trip.created_at) %> ago, </small></span> 
                <span class='quite'><small> updated: <%= time_ago_in_words(trip.updated_at) %> ago </small></span> 

            </p>
            <div class="pull-right">
              <%= link_to like_trip_path(trip, like: true), method: :post do %>
                 <i class="glyphicon glyphicon-thumbs-up"></i> &nbsp <%= trip.thumbs_up_total %>
              <%end%> &nbsp&nbsp&nbsp&nbsp
              <%= link_to like_trip_path(trip, like: false), method: :post do %>
                 <i class="glyphicon glyphicon-thumbs-down"></i> &nbsp <%= trip.thumbs_down_total %>
              <%end%>
          </div>
        </div>
        <div class="col-md-4"> <%# trip.picture single due o iteration %>
            <%= image_tag(trip.picture.url, size:"250x150", class: "gravatar") if trip.picture? %> <%#return true if picture and display %>
        </div>
        
    </div>
    <hr/>
<% end %>

<%= will_paginate %>